body {
    font-family: Arial;
    background-color: rgb(230, 222, 230);
}

section,
header {
    padding: 10px 60px 20px 60px;
}

header {
    padding-top:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color:gray;
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 5px;
    display: inline;
}

span {
    font-size: 14px;
    margin-left: 5px;
}

.container {
    background-color: white;
    width:960px;
    margin: 0 auto;
    box-shadow: 0 0 20px grey;
}

li {
    margin-bottom: 10px;

}

i {
    font-size: 12px;
}

a {
    text-decoration: none;
}

address ul {
    font-size: 14px;
    list-style: none;
}

.address-icon {
    background-color: rgb(166, 112, 167);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 5px;
    vertical-align: middle;
    color: black;
}

.hobbies {
    background-color: rgb(233, 218, 233);
    width: 16px;
    height: 16px;
    padding-inline-start: 0px;
    vertical-align: middle;
    list-style: none;
}

ul.hobbies {
    display: inline;
    margin-left: 20px;
    margin-top: 25px;
}

.hobbies-image {
    vertical-align: middle;
    margin:5px;
}

footer img {
    background-color: rgb(166, 112, 167);
    width: 30px;
    height: 30px;
    margin: 0 auto;
    padding: 2px;
    border-radius: 50%;
    vertical-align: middle;
}

.footer-image {
    background-color: white;
    display:inline;
    border-radius: 0%;

}

.footer ul {
    margin: 0 auto;
    text-align: center;
    word-spacing: 120px;
    list-style: none;
}

.footer b {
    margin-left: 5px;
}

.cv-link {
    border: 1.5px solid rgb(166, 112, 167);
    color: black;
    padding: 10px 20px;
    display:inline-block;
    margin-top:20px;
    border-radius: 26px;
    transition: background-color 1s; color: 1s;
    box-shadow: 0 0 17px grey;
}

.cv-link:hover {
    color:white;
    background-color: rgb(166, 112, 167);
}

.cv-link:focus {
    color:white;
    background-color: rgb(166, 112, 167);
    outline: none;
}

.cv-link:active {
    text-decoration: underline;
}